@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --primary-color: #233048;
    --secondary-color: #1f2d3b;
    --tertiary-color: #1f2d3b;

    --font-family: "Libre Franklin", sans-serif;

    --font-size-small: 0.8rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.2rem;

    --border-radius: 0.5rem;
}

html * {
    font-family: var(--font-family);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: black;
    color: whitesmoke;
}

/* FLEXBOX && GRID */
/*******************/

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.grid {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
}

.center-items {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.gap-2 {
    gap: 0.5rem;
}

.gap-4 {
    gap: 1rem;
}

.gap-8 {
    gap: 2rem;
}